*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Heebo', sans-serif;
    color: #000000;
    direction: rtl;
}

h1 {
    font-size: 50px;
    margin-bottom: 35px;   
    padding-left: 18%;
}

span {
    color: #F50B33;
}

p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 0;
}

p, label {
    color: #2C2C2C;
}

label, input {
    display: block;
} 

input {
    border: none;
    border-bottom: 5px solid #F50B33;
    background-color: #F6F6F6;
    width: 400px;
    height: 50px;
    margin-bottom: 15px;
    text-align: end;
}

button {
    padding: 5px 35px;
    color: aliceblue;
    border: none;
    margin-top: 20px;
    background-color: #F50B33;
}

/* ======== Class's ======== */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 20px 50px;
}

.img-style {
    max-height: 600px;
}

/* ======== Media's ======== */
/* X-Small device (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {
    .container {
        flex-direction: column;
        gap: 50px;
    }

    .div-1 {
        text-align: right;
        transform: translate(-7px);
    }

    h1{
        font-size: 40px;
    }

    p {
        font-size: 15px;
    }

    .img-style {
        max-height: 400px;
    }

    label, input {
        width: 320px;
    }
}

/* Small device (landscap phone, 576px and up) 576px to 768px */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 50px;
    }

    .div-1 {
        width: 400px;
        text-align: right;
        transform: translate(-7px);
    }

    h1{
        font-size: 40px;
    }

    p {
        font-size: 15px;
    }

    .img-style {
        max-height: 400px;
    }

    label, input {
        width: 320px;
    }
}

/* Medium device (tablets, 768px and up) 768px to 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        flex-direction: column;
        gap: 50px;
    }

    .div-1 {
        text-align: right;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

/* Large device (desktops, 992px and up) 992px to 1200px */
/* @media screen and (min-width: 992px) and (max-width: 1200px) {
} */